{% extends 'notes/base.html' %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow p-4" style="width: 700px;">
        <h2 class="text-center">Register</h2>
        <form method="POST" class="d-flex flex-column justify-content-center">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success w-100">Register</button>
        </form>
        <p class="text-center mt-3">Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
</div>
{% endblock %}